main {
    margin: 0 auto;
}

section.hero {
    position: relative;
    height: 800px;
    padding-top: 50px;
    margin: 0 auto;
}

section.hero .hero-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

section.hero .left {
    max-width: 600px;
    transition: var(--main-transition);
}

section.hero .left .title {
    padding: 20px 15px;
    font-size: 2em;
    color: var(--headding-title);
    text-transform: uppercase;
}

section.hero .hero-content .left .description {
    padding: 20px 15px;
    color: var(--text-color);
}

section.hero .hero-content .left .btn-group {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

section.hero .hero-content .left .btn-group a {
    display: block;
    padding: 10px 25px;
    margin:0 20px;
    color: var(--btn-color);
    border:outset 2px var(--color-blue);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
    background-color: var(--color-blue);
    text-transform: uppercase;
    transition: var(--main-transition);
}

section.hero .hero-content .left .btn-group .btn-1 {
    color: var(--btn-color-2);
    background-color: var(--color-yellow);
    border:outset 2px var(--color-yellow);
}

section.hero .hero-content .left .btn-group .btn-1:hover {
    color: var(--color-white);
    border:outset 2px var(--color-yellow);
    transform: scale(1.1);
}

section.hero .hero-content .left .btn-group .btn-2:hover {
    color: var(--color-white);
    border:outset 2px var(--color-blue);
    transform: scale(1.1);
}

section.hero .hero-content .right .right-content img {
    max-width: 350px;
}

section.hero .hero-content .left .left-content .btn-group a {
    margin: 0 25px;
}