@media (min-width:1000px) {

    .header .content {
        overflow: hidden;
    }

    .header .content .nav {
        position: relative;
        top: initial;
        right: initial;
        left: initial;
        height: initial;
        flex-direction: row;
        align-items: initial;
        justify-content: initial;
        background-color: initial;
        background-image: var(--blue-gradiant);
        transition: var(--main-transition);
        z-index: unset;
        overflow: visible;
    }

    .header .content .nav.active {
        height: initial;
    }

    .header .content .nav .list {
        flex-direction: row;
        justify-content: initial;
        height: 50px;
        width: 100%;
    }

    .header .content .nav .list::before {
        position: absolute;
        left: -25px;
        top: -50px;
        content: '';
        width: 100px;
        height: 100px;
        background-color: var(--color-blue);
        transform: rotate(60deg) translateY(10px);
        border-radius: 30px;
    }
    
    
    .header .content .nav .list::after {
        position: absolute;
        right: -25px;
        top: 0px;
        content: '';
        width: 100px;
        height: 100px;
        background-color: var(--color-blue);
        transform: rotate(150deg) translateY(10px);
        border-radius: 30px;
    }
    
    .header .content .nav .list .item {
        position: relative;
        z-index: 1;
    }
    
    .header .content.nav .list .item > a:after {
        position: absolute;
        bottom: -25px;
        right: 50%;
        content: '';
        height: 2px;
        width: 50px;
        border-radius: 10px;
        background-color: orange;
        transform: translateX(50%);
    }
    
    .header .nav .list .item.mousein::after {
        bottom: -5px;
    }

    .header .content .btn-group  {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 0 0 50px;
        background-color: var(--color-yellow);
    }

    .header .content .nav .btn-group .btn-item.login a {
        margin-right: 15px;
    }

    .header #burger {
        display: none;
    }

    section.hero {
        height: initial;
    }

    section.hero .hero-content .left .left-content .title {
        font-size: 2.5em;
    }

    section.hero .hero-content .left .left-content .btn-group {
        position: relative;
        bottom: initial;
        right: initial;
        transform: translateX(0);
    }

    section.hero .hero-content .right .right-content img {
        max-width: 400px;
    }

}